<html>
<head>
<title>Wordle</title>
<style>
body {
  font-family: Arial;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
table {
  border: 1px solid #eee;
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid #eee;
  border-collapse: collapse;
  padding: 10px;
  vertical-align: top;
}
table th {
  background: #eee;
}

.letter {
  padding: 10px;
  text-transform: capitalize;
  color: black
}
.letter-box {
  width: 20px;
  height: 20px;
  text-align: center;
  font-weight: bold;
  color: #222;
  padding: 5px;
}
.correct .letter-box {
  background: #6aaa64;
  color: #fff;
}
.position .letter-box {
  background: #c9b458;
  color: #fff;
}
.absent .letter-box {
  background: #86888a;
  color: #fff;
}
</style>
</head>
<body>

<div id="app">
  <table>
    <tr v-for="attempt in attempts">
      <td v-for="item in attempt.letters" :class="item.status" class="letter">
        <div class="letter-box">{{ item.letter }}</div>
      </td>
    </tr>
  </table>
  <div id=""keyboard>
    <div>
      <button @click="submit" data-key="enter">enter</button>
      <button @click="erase" data-key="back">back</button>
    </div>
    <div class="kb-row">
      <button @click="clicked" data-key="q">q</button>
      <button @click="clicked" data-key="w">w</button>
      <button @click="clicked" data-key="e">e</button>
      <button @click="clicked" data-key="r">r</button>
      <button @click="clicked" data-key="t">t</button>
      <button @click="clicked" data-key="y">y</button>
      <button @click="clicked" data-key="u">u</button>
      <button @click="clicked" data-key="i">i</button>
      <button @click="clicked" data-key="o">o</button>
      <button @click="clicked" data-key="p">p</button>
    </div>
    <div class="kb-row">
      <button @click="clicked" data-key="a">a</button>
      <button @click="clicked" data-key="s">s</button>
      <button @click="clicked" data-key="d">d</button>
      <button @click="clicked" data-key="f">f</button>
      <button @click="clicked" data-key="g">g</button>
      <button @click="clicked" data-key="h">h</button>
      <button @click="clicked" data-key="j">j</button>
      <button @click="clicked" data-key="k">k</button>
      <button @click="clicked" data-key="l">l</button>
    </div>
    <div class="kb-row">
      <button @click="clicked" data-key="z">z</button>
      <button @click="clicked" data-key="x">x</button>
      <button @click="clicked" data-key="c">c</button>
      <button @click="clicked" data-key="v">v</button>
      <button @click="clicked" data-key="b">b</button>
      <button @click="clicked" data-key="n">n</button>
      <button @click="clicked" data-key="m">m</button>
    </div>
  </div>
</div>

<script>
const wordList = [
  'abcde',
  'hello',
]
window.onload = async function () {
  const App = {
    data() {
      return {
        solution: 'hello',
        attempts: [
          {
            done: true,
            letters: [
              { letter: 'a', status: 'correct' },
              { letter: 'b', status: 'correct' },
              { letter: 'c', status: 'correct' },
              { letter: 'd', status: 'position' },
              { letter: 'e', status: 'absent' },
            ],
          },
          {
            done: false,
            letters: [{}, {}, {}, {}, {}],
          },
          {
            done: false,
            letters: [{}, {}, {}, {}, {}],
          },
          {
            done: false,
            letters: [{}, {}, {}, {}, {}],
          },
          {
            done: false,
            letters: [{}, {}, {}, {}, {}],
          },
          {
            done: false,
            letters: [{}, {}, {}, {}, {}],
          },
        ],
      }
    },
    methods: {
      // async checkNow(repo, ev) {
      //   const repoRef = this.repos.find(r => r.name === repo.name)
      //   console.log('checking repo', repo)
      //   const { summary } = await fetch(`${CQC_API}/api/run-check/eais/${repo.name}`, { method: 'GET', headers: {} }).then(res => res.json())
      //   console.log(summary)
      //   repoRef.report.summary = summary
      // },
      clicked(ev) {
        const letter = ev.target.getAttribute('data-key')
        console.log('clicked', letter)

        // get current attempt
        const curAttemptIdx = this.attempts.findIndex(a => !a.done)
        const attemptRef = this.attempts[curAttemptIdx]

        // get position of letter
        const curLetterIdx = attemptRef.letters.findIndex(l => !l.letter)
        const letterRef = attemptRef.letters[curLetterIdx]

        if (typeof letterRef === 'undefined') {
          console.warn('5 letters entered, submit current word')
          return
        }

        letterRef.letter = letter
        // letterRef.status = ''
      },
      submit(ev) {
        console.log('clicked submit')

        // get current attempt
        const curAttemptIdx = this.attempts.findIndex(a => !a.done)
        const attemptRef = this.attempts[curAttemptIdx]

        const word = attemptRef.letters.map(l => l.letter).join('')
        console.log(word)

        if (word.length < 5) {
          console.warn('incomplete word')
          return
        }

        if (!wordList.includes(word)) {
          console.warn('invalid word')
          alert('invalid word')
          return
        }

        attemptRef.done = true
        if (word === this.solution) {
          attemptRef.letters.forEach(l => {
            l.status = 'correct'
          })
          alert('yay')
        } else {
          attemptRef.letters.forEach((l, i) => {
            console.log(l.letter, this.solution[i])
            if (l.letter === this.solution[i]) {
              l.status = 'correct'
            } else if (this.solution.includes(l.letter)) {
              l.status = 'position'
            } else {
              l.status = 'absent'
            }
          })
        }
      },
      erase(ev) {
        console.log('clicked erase')

        // get current attempt
        const curAttemptIdx = this.attempts.findIndex(a => !a.done)
        const attemptRef = this.attempts[curAttemptIdx]

        // get position of last letter
        // get count of entered letters
        const letterCount = attemptRef.letters.filter(l => l.letter).length
        if (letterCount) {
          attemptRef.letters[letterCount - 1].letter = ''
          attemptRef.letters[letterCount - 1].status = ''
        } else {
          console.log('nothing to erase')
        }
      }
    }
  }
  const app = Vue.createApp(App)
  const vm = app.mount('#app')
  // vm.repos = repos
}
</script>
<script src="js/vue.global.js"></script>
</body>
</html>
